<form method="post">
  <div class="form-group row">
    <label for="inputTitle" class="col-sm-2 col-form-label">Blog Title</label>
    <div class="col-sm-10">
      <input class="form-control" id="inputTitle" placeholder="Blog Title" />
    </div>
    <label for="inputDescription" class="col-sm-2 col-form-label"
      >Blog Description</label
    >
    <div class="col-sm-10">
      <input
        class="form-control"
        id="inputDescription"
        placeholder="Description"
      />
    </div>
    <label for="inputBlogImageURL" class="col-sm-2 col-form-label"
      >Blog Image URL</label
    >
    <div class="col-sm-10">
      <input
        class="form-control"
        id="inputBlogImageURL"
        placeholder="Image Link"
      />
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
